MONGODB_URI=
MONGODB_DB=proofpass
AUTH_SECRET=

TEST_ADMIN_EMAIL=admin@proofpass.local
TEST_ADMIN_PASSWORD=ProofPass123!
TEST_ORGANIZER_EMAIL=organizer@proofpass.local
TEST_ORGANIZER_PASSWORD=ProofPass123!
