MONGODB_DB=proofpass
PORT=3000
APP_URL=
AUTH_SECRET=
MONGODB_URI=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
DEPLOYMENT_VERSION=
SERVICE_URL_APP=
SERVICE_FQDN_APP=

BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_FULL_NAME=ProofPass Admin

TEST_ADMIN_EMAIL=admin@proofpass.local
TEST_ADMIN_PASSWORD=ProofPass123!
TEST_ORGANIZER_EMAIL=organizer@proofpass.local
TEST_ORGANIZER_PASSWORD=ProofPass123!
